.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.container,
.container2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: inline-block;
    z-index: -1;
}

.container2 {
    margin-top: 100vh;
}

.bg {
    position: fixed;
    overflow: hidden;
    margin: 0px;
    width: 100vw;
    height: 200vh;
}

.bg:before,
.bg:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/stars.png");
    background-size: 150%;
    animation: move 180s infinite linear;
    margin: 0px;
}

.bg:before {
    right: 100%;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

html {
    width: auto;
    overflow-x: hidden;
    background-color: rgb(14, 23, 36);
    background-image: linear-gradient(153deg,
            rgba(14, 23, 36, 1) 14%,
            rgba(40, 64, 98, 1) 86%);
}

img {
    position: relative;
    max-width: 80px;
    height: auto;
    margin-top: 12px;
    top: 23px;
}

@font-face {
    font-family: FashionFetishOutline;
    src: url('../assets/FashionFetishOutline.ttf');
}

@font-face {
    font-family: FashionFetishReg;
    src: url('../assets/FashionFetishReg.ttf');
}

@font-face {
    font-family: FashionFetishBold;
    src: url('../assets/FashionFetishBold.ttf');
}

#hamnav {
    width: 100%;
    z-index: 10;
  }
  
  #hamitems {/* display: flex; */}
  #hamitems a {
    flex-grow: 1;
    /* flex-basis: 0; */
    padding: 10px;
    color: white;
    margin-left: 5px;
    text-align: center;
    /* width: 10vw; */
    /* height: auto; */
    /* min-width: 10vw; */
    /* margin-left: 10px; */
  }

  
  #hamnav label, #hamburger {display: none;}

@media screen and (max-width: 768px){
    #hamitems a {
      /* box-sizing: border-box; */
      /* display: block; */
      width: 100%;
      padding: 6px;
      display: inline;
    }
   
    #hamnav label {
      display: inline-block;
      color: white;
      /* background: #a02620; */
      font-style: normal;
      font-size: 1.5em;
      padding: 10px;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems {display: block;font-size: 0.75em;padding-bottom: 1em;position: absolute;margin-left: 9%;top: 20px;}

  }

  .nav {
    /* overflow: hidden; */
    font-family: 'IBM Plex Sans KR Bold';
    float: right;
}


.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 20px; */
    text-decoration: none;
}

div {
    font-family: 'IBM Plex Sans KR Bold';
    color: white;
}

.desc {
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 9px;
    line-height: 1.6em;
}

.abg {
    background-color: rgba(3, 10, 19, 0.808);
    /* top: 4em; */
}

.information {
    margin-left: 2%;
}

.comet {
    font-family: 'IBM Plex Sans KR Regular';
    color: #4db9ff;
    letter-spacing: 3px;
    animation: breathing 3s infinite;
    font-size: 1.5em;
}

.bolder {
    font-family: 'IBM Plex Sans KR Bold';
}

.open {
    color: #eceff4;
    text-shadow: 0px 0px 8px #eceff4;
    animation: breathing2 2s infinite;
    font-size: 0.82em;
    /* margin-left: 13px; */
    display: inline;
}

.presenter {
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 0.6em;
    /* margin-top: 1.5em; */
}

.name {
    display: inline;
    margin-left: 0.6em;
    font-size: 1.6em;
    line-height: 2.2;
}

.nameKam {
    font-size: 1.6em;
}

.specialThanks {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 2.5em;
    margin-top: 1em;
}

.luv {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.empty {
    width: 1px;
    height: 1em;
}

.abt {margin-right: 2%;}

.abtHeader {width: fit-content;margin-left: 20px;margin-top: 1em;min-width: 400px;}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes breathing {
    0% {
        text-shadow: 0 0 5px rgb(0, 204, 255);
    }

    50% {
        text-shadow: 0 0 10px rgb(0, 204, 255);
    }

    100% {
        text-shadow: 0 0 5px rgb(0, 204, 255);
    }
}

@keyframes breathing2 {
    0% {
        text-shadow: 0 0 5px #eceff4;
    }

    50% {
        text-shadow: 0 0 10px #eceff4;
    }

    100% {
        text-shadow: 0 0 5px #eceff4;
    }
}



.something {width:1px;height: 2em;}
@media screen and (max-width: 768px) {
    .comet {font-size: 0.9em;}
    .open {font-size:0.5em;}
    .luv {font-size: 1.4em;}
    .specialThanks {font-size: 1.4em;}
    [class*=name] {font-size: 1.2em;}
    .something {height:0.2em;}
}

.logo {width: 10%;height:auto;position: absolute;top: 1vh;left: 1vh;}

@media screen and (max-width: 768px) {
    .logo {width:15%;height:auto;top: 8%;}
}

@media screen and (max-width: 425px) {
    .logo {width: 25%;height:auto;top: 7%;}
    .presenter {margin-top:1.5em;}
}

div, a{font-family:'IBM Plex Sans KR Regular';font-size:1.2em};